body {
    background-color: #fff
}

h1 {
    color: #11589F;
    font-family: sans-serif;
    font-size: 300%;
    align-content: center;
    padding: 20%;
}

p {
    color: #2b3339;
    font-family: sans-serif;
    font-size: 5%;
    align-content: center;
    padding: 40%;
}