body {
    background-color: #fff
}

h1 {
    color: #11589F;
    font-family: helvlt,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 300%;
    text-align: center;
    padding: 20%;
}

p {
    color: #2b3339;
    font-family: helvlt,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 5%;
    text-align: center;
    padding: 40%;
}