body {
    background-image: url('../images/IN.jpg');
    background-size: cover;
}

h1 {
    color: #11589F;
    font-family: helvlt,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 300%;
    font-weight: 100;
    text-align: left;
    padding: 10%;
}

p {
    color: #2b3339;
    font-family: helvlt,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: left;
    vertical-align: top;
    padding-left: 10%;
    padding-right: 20%;
}

#slogan {
    font-style: italic;
    font-size: 600%;
    font-weight: 400;
    padding-right: 30%;
}
