body {
    background-image: url('../images/drain.jpg');
    background-size: cover;
}

h1 {
    color: #f4f6f8;
    font-family: helvlt,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-style: condensed;
    font-size: 100%;
    font-weight: 200;
    text-align: left;
    padding: 1%;
}

p {
    color: #fff;
    font-family: helvlt,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    text-align: left;
    vertical-align: top;
    padding-left: 10%;
    padding-right: 20%;
}

#slogan {
    font-size: 600%;
    font-weight: 700;
    padding-right: 30%;
}
